h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebeb27;
  background: linear-gradient(to right, #EBEBEB 0%, #BFBFBF 77%, #AFAFAF 100%);
  background-image: url('https://u-stena.ru/upload/iblock/380/380a84c10c590c8c6cf6e6fb2228be94.jpg');
  background-repeat: repeat;
background-size: auto 1100px;
background-position: 50% 0%;
}

section {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffb84e36;
  // background: linear-gradient(135deg, #ffb84e 0%, #c0d465 39%, #267b91 100%);
  border-bottom: 1px solid #272727;;
  box-shadow: 3px 3px 5px -2px #000000;
  border-radius: 0 0 10px 10px;
  animation: bg-color-change 30s infinite;

  @keyframes bg-color-change {
  0% { background:#ff6868 ; }
  10% { background:#ffc368 ; }
  20% { background:#d7ff68 ; }
  30% { background:#6dff68 ; }
  40% { background:#68ff75 ; }
  50% { background:#68ffde ; }
  60% { background:#68c8ff ; }
  70% { background:#687fff ; }
  80% { background:#ff68eb ; }
  90% { background:#c868ff ; }
  100% { background: #ff6868}
}
}

h1 {
  color: #333333;
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
  color: white;
  text-shadow: 2px 2px black, 4px 4px rgba(255, 255, 255, 0.8), 6px 6px rgba(0, 0, 0, 0.60), 8px 8px rgba(255, 255, 255, 0.40), 10px 10px rgba(0, 0, 0, 0.20);
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: #ffffff; }
  50% { color: #313131; }
  100% { color: #ffffff; }
}

h2 {
  color: #e7e7e7;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  animation: font-size-change 1s ease-in, opacity-chalange 1.5s ease-in;
}

@keyframes font-size-change {
  0% { font-size: 0px; }
  100% { font-size: 20px; }
}

form {
  font-size: 20px;
  align-self: center;
  padding-top: 30px;
  padding-bottom: 40px;
  animation: opacity-chalange 1.5s ease-in;
}

@keyframes opacity-chalange {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

input {
  padding: 5px;
  padding-left: 10px;
  border-radius: 7px;
  background-color: #e4e4e4;
  border: 2px solid #303030;
  border-radius: 10px;
  box-shadow: 2px 2px 4px -2px #000000;
  outline: none;

  &::placeholder {
    font-size: 15px;
  }

  &:focus {
  box-shadow: 2px 2px 2px -2px #000000;
  background-color: #ffffff;
  }

}

.countries-info-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.countries-list {
  width: 310px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 3px 3px 2px 0px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  padding: 10px;
}

.country-card {
  width: 310px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 3px 3px 2px 0px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  padding: 10px;

  &__title {
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-wrapper {
    width: 150px;
    height: 100px;
  }

  &__img {
    width: 100%;
  }

  &__paragraph {
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__span {
    font-weight: normal;
  }
}

.countries-list {
  width: 325px;
  align-self: center;
  font-size: 20px;
}

.pnotyfy-my-setup {
  position: absolute;
}

// @media screen and (min-width: 768px)

// @media screen and (min-width: 1200px)